<ion-view>

	<div class="app-page opacity-bar">
		<div class="app-hero app-hero-image">
			<h2>{{'About the application'|translate}}</h2>
			<div class="app-hero-overlay"></div>
			<img src="images/place.png" class="app-hero-bg">
		</div>

		<div class="app-page-content">
			<h2>sdfdsfdsfds sdf </h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tempor felis, id convallis mauris. Cras efficitur commodo est, id lacinia felis tristique sed. Curabitur mi sem, aliquet vel dolor vel, ornare feugiat nisi. Aenean tempor diam urna, eget volutpat sapien pharetra id. Nam elementum augue sed turpis congue, id rhoncus diam efficitur. Ut scelerisque rutrum malesuada. Nullam vitae ligula mi. Curabitur at eleifend ante, vitae fringilla mauris. Curabitur sed nibh tincidunt, pulvinar velit sed, venenatis ex. Nunc nec pulvinar leo.</p>

			<p>Etiam consequat sem neque, in fermentum massa malesuada id. Nulla augue turpis, tristique quis ultricies ut, maximus at erat. Phasellus malesuada metus massa, convallis consequat justo finibus vitae. Nulla in convallis magna. In feugiat enim at tellus lacinia, at convallis libero ultricies. Proin at vehicula nisi, tincidunt fringilla risus. Duis vulputate ante eros, quis convallis est placerat eget. Cras vel mauris sed metus ultricies placerat iaculis ac erat. Morbi id elementum tortor. Sed augue odio, sagittis eget massa eu, finibus faucibus erat. Suspendisse sed nisi luctus, porttitor tellus eu, fringilla nunc. Pellentesque auctor sodales fringilla. Vestibulum eu rhoncus est. Donec semper tincidunt lobortis. Nam aliquet nisl vel justo vulputate porta.</p>

			<p class="partners-title">
			Partenaires
			</p>
			<p class="partners">
			<img src="http://placehold.it/350x150" />
			<img src="http://placehold.it/350x150" />
			</p>
		</div>

	</div>

</ion-view>
