<div class="page-content conf full-height">

	<nav class="breadcrumb">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h4>
						{{'Configuration'|translate}}
						<small ng-if="isConfigurationValid" class="label label-success">{{'valid'|translate}}</small>
						<small ng-if="!isConfigurationValid" class="label label-warning">{{'invalid'|translate}}</small>
					</h4>
				</div>
			</div>
		</div>
	</nav>

	<div class="full-height">

		<div class="full-height" ng-scrollbars>

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label>{{'Language'|translate}}</label>
							<div>
								<select class="form-control" ng-model="conf.language" ng-options="language.id as language.name for language in languages">
								</select>
							</div>
						</div>
					</div>
				</div>

				<h4>Docker</h4>

				<div ng-if="platform == 'linux'" class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label>{{'Connection to docker daemon'|translate}}</label>
							<div>
								<label>
									<input type="radio" ng-model="conf.docker.connectionType" name="docker.connectionType" value="socket" />
									{{'UNIX Socket'|translate}}
								</label>
								<label>
									 <input type="radio" ng-model="conf.docker.connectionType" name="docker.connectionType" value="tcpip" />
									 TCP/IP
								</label>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="conf.docker.connectionType == 'socket'">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label>{{'Path'|translate}}</label>
								<div class="">
									<button class="btn btn-primary" file-chooser ng-model="conf.docker.socket" title="{{'Select the socket path'|translate}}">
										<i class="fa fa-folder-o"></i>
									</button>
									<span>{{conf.docker.socket}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="conf.docker.connectionType == 'tcpip'">
					<div class="row">
						<div class="col-xs-8">
							<div class="form-group">
								<label>{{'Address'|translate}}</label>
								<div class="">
									<input type="text" class="form-control" placeholder="{{'Address (host name or IP)'|translate}}" ng-model="conf.docker.address" />
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group">
								<label>{{'Port'|translate}}</label>
								<div class="">
									<input type="text" class="form-control" placeholder="{{'Port'|translate}}" ng-model="conf.docker.port" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label>
									<input type="checkbox" ng-model="conf.docker.secure" />
									{{'Secure connection'|translate}}
								</label>
							</div>
							<div ng-if="conf.docker.secure" class="form-group">
								<label>{{'Certificates path'|translate}}</label>
								<div class="">
									<button class="btn btn-primary" file-chooser="directory" ng-model="conf.docker.certPath" title="{{'Select the certificates path'|translate}}">
										<i class="fa fa-folder-o"></i>
									</button>
									<span>{{conf.docker.certPath}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>
