<div class="log full-height" ng-switch="stream">
	<div ng-switch-when="stdout" class="full-height">
		<div ng-if="container.runtime.docker.container.log['stdout']" class="full-height" ng-scrollbars ng-scrollbars-update="ctrl.updateScrollbarStdout">
			<pre>{{container.runtime.docker.container.log['stdout']}}</pre>
		</div>
		<div ng-if="!container.runtime.docker.container.log['stdout']" class="text-empty">
			<span>
				<i class="fa fa-eye"></i>
				{{'The logs are empty'|translate}}
			</span>
		</div>
	</div>
	<div ng-switch-when="stderr" class="full-height">
		<div ng-if="container.runtime.docker.container.log['stderr']" class="full-height" ng-scrollbars ng-scrollbars-update="ctrl.updateScrollbarStderr">
			<pre>{{container.runtime.docker.container.log['stderr']}}</pre>
		</div>
		<div ng-if="!container.runtime.docker.container.log['stderr']" class="text-empty">
			<span>
				<i class="fa fa-eye"></i>
				{{'The logs are empty'|translate}}
			</span>
		</div>
	</div>
</div>

<div class="log-buttons">
	<div class="container-fluid">
		<switch ng-model="ctrl.stderr" on="stderr" off="stdout" class="color"></switch>
		<a class="btn btn-primary pull-right" ng-click="ctrl.clearLog()">
			<i class="fa fa-eraser"></i>
			{{'Clear log'|translate}}
		</a>
	</div>
</div>
