<perfect-scrollbar class="scroller full-height">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h4>{{'Variables'|translate}}</h4>
			</div>
			<div class="col-xs-12">
				<form>
					<div ng-repeat="(varName, var) in container.variables" class="form-group">
						<label>{{var.name}} <small class="text-grayed">{{varName}}</small></label>
						<div class="controls" ng-if="var.type == 'directory'">
							<button class="btn btn-primary" file-chooser="directory" ng-model="var.value" title="{{var.label}}">
								<i class="fa fa-folder-o"></i>
							</button>
							<span ng-show="var.value" ng-bind="var.value" class="form-control"></span>
							<span ng-show="!var.value && var.mandatory" class="form-control">{{'Please choose a directory'|translate}}</span>
						</div>
						<div class="controls" ng-if="var.type == 'file'">
							<button class="btn btn-primary" file-chooser ng-model="var.value" title="{{var.label}}">
								<i class="fa fa-folder-o"></i>
							</button>
							<span ng-show="var.value" ng-bind="var.value" class="form-control"></span>
							<span ng-show="!var.value && var.mandatory" class="form-control">{{'Please choose a file'|translate}}</span>
						</div>
						<div class="controls" ng-if="var.type == 'string'">
							<input type="text" ng-model="var.value" class="form-control" />
							<span ng-if="!var.value && var.mandatory">{{'Please type a value'|translate}}</span>
						</div>
						<div class="controls" ng-if="var.type == 'integer'">
							<input type="number" ng-model="var.value" class="form-control" />
							<span ng-if="!var.value && var.mandatory">{{'Please type a value'|translate}}</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="conf-values">
			<div class="row">
				<div class="col-xs-12">
					<h4>{{'Configuration values'|translate}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>{{'Id'|translate}}</label>
					<span class="conf-value">{{container.id}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>{{'Name'|translate}}</label>
					<span class="conf-value">{{container.name}}</span>
				</div>
			</div>
			<div ng-if="container.links" class="row">
				<div class="col-xs-12">
					<label>{{'Links'|translate}}</label>
					<span class="conf-value">
						<ul class="list-group">
							<li class="list-group-item list-group-header">
								<span>{{'Container id'|translate}}</span>
								<span class="pull-right">{{'Alias'|translate}}</span>
							</li>
							<li class="list-group-item" ng-repeat="(k, v) in container.links">
								<span>{{v}}</span>
								<span class="pull-right">{{k}}</span>
							</li>
						</ul>
					</span>
				</div>
			</div>
			<div ng-if="container.ports" class="row">
				<div class="col-xs-12">
					<label>{{'Ports'|translate}}</label>
					<span class="conf-value">
						<ul class="list-group">
							<li class="list-group-item list-group-header">
								<span>{{'Container port'|translate}}</span>
								<span class="pull-right">{{'Host port'|translate}}</span>
							</li>
							<li class="list-group-item" ng-repeat="(k, v) in container.ports">
								<span>{{k}}</span>
								<span class="pull-right">{{v}}</span>
							</li>
						</ul>
					</span>
				</div>
			</div>
			<div ng-if="container.mounts" class="row">
				<div class="col-xs-12">
					<label>{{'Mounts'|translate}}</label>
					<span class="conf-value">
						<ul class="list-group">
							<li class="list-group-item list-group-header">
								<span>{{'Host directory'|translate}}</span>
								<span class="pull-right">{{'Container mount point'|translate}}</span>
							</li>
							<li class="list-group-item" ng-repeat="(k, m) in container.mounts">
								<span>{{m}}</span>
								<span class="pull-right">{{k}}</span>
							</li>
						</ul>
					</span>
				</div>
			</div>
			<div ng-if="container.environment" class="row">
				<div class="col-xs-12">
					<label>{{'Environment'|translate}}</label>
					<span class="conf-value">
						<ul class="list-group">
							<li class="list-group-item list-group-header">
								<span>{{'Environment variable'|translate}}</span>
								<span class="pull-right">{{'Value'|translate}}</span>
							</li>
							<li class="list-group-item" ng-repeat="(k, v) in container.environment">
								<span>{{k}}</span>
								<span class="pull-right">{{v}}</span>
							</li>
						</ul>
					</span>
				</div>
			</div>
			<div ng-if="container.cmd" class="row">
				<div class="col-xs-12">
					<label>{{'Command'|translate}}</label>
					<span class="conf-value">{{container.cmd}}</span>
				</div>
			</div>
		</div>
	</div>
</perfect-scrollbar>