<div class="log full-height">
	<log ng-class="{'invisible': stream != 'stdout'}" ng-model="searchResult['out']" locked="stdoutScrollbarLocked" class="stdout full-absolute"></log>
	<!-- <log ng-class="{'invisible': stream != 'stdout'}" ng-model="container.runtime.docker.container.log['stdout']" locked="stdoutScrollbarLocked" class="stdout full-absolute"></log> -->
	<log ng-class="{'invisible': stream != 'stderr'}" ng-model="searchResult['stderr']" locked="stderrScrollbarLocked" class="stderr full-absolute"></log>
	<!-- <log ng-class="{'invisible': stream != 'stderr'}" ng-model="container.runtime.docker.container.log['stderr']" locked="stderrScrollbarLocked" class="stderr full-absolute"></log> -->
</div>

<div class="log-action-bar">
	<div class="log-action-bar-container">
		<div style="flex-grow: 0">
			<switch ng-model="ctrl.stderr" on="stderr" off="stdout" class="color" title="{{'Switch stream'|translate}}"></switch>
		</div>
		<div style="flex: 1">
			<div class="search input-group">
				<div>
					<input type="text" class="form-control" ng-model="searchString" />
					<i class="form-control-feedback fa fa-search"></i>
				</div>
				<span class="input-group-btn">
					<button class="btn btn-link" type="button"><i class="fa fa-angle-up"></i></button>
				</span>
				<span class="input-group-btn">
					<button class="btn btn-link" type="button"><i class="fa fa-angle-down"></i></button>
				</span>
			</div>
		</div>
		<div style="flex-grow: 0">
			<i ng-show="stream == 'stdout'" class="fa fa-fw fa-2x fa-step-forward fa-rotate-90 text-color" ng-class="{'fa-disabled': !stdoutScrollbarLocked}"></i>
			<i ng-show="stream == 'stderr'" class="fa fa-fw fa-2x fa-step-forward fa-rotate-90 text-color" ng-class="{'fa-disabled': !stderrScrollbarLocked}"></i>
		</div>
		<div style="flex-grow: 0">
			<a class="btn btn-primary pull-right" ng-click="ctrl.clearLog()" title="{{'Clear log'|translate}}">
				<i class="fa fa-eraser"></i>
			</a>
		</div>
	</div>
</div>
