<div class="page-content container-fluid full-height">

	<nav class="breadcrumb">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h4>
						{{container.name}}
						<small>{{container.id}}</small>
						<span class="label label-primary" ng-if="container.runtime.docker.container.infos.State.Running">{{'Running'|translate}}</span>
						<span class="label label-default" ng-if="!container.runtime.docker.container.infos.State.Running">{{'Stopped'|translate}}</span>
					</h4>
				</div>
			</div>
		</div>
	</nav>

	<div class="full-height">

		<div class="tab full-height">
			<ul class="nav nav-tabs">
				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs">
					<a href="" ng-click="setSelectedTab(tab)">
						<i ng-class="tab.iconClass"></i>
						{{tab.label}}
					</a>
				</li>
			</ul>
			<div class="tab-content full-height">
				<div class="full-height" ui-view></div>
			</div>
		</div>

	</div>

</div>
