<div class="log full-height">
	<div ng-show="stream == 'stdout'" class="full-height">
		<div ng-show="container.runtime.docker.container.log['stdout']" class="stdout full-height" ng-scrollbars ng-scrollbars-update="ctrl.stdoutScrollbarUpdate" ng-scrollbars-config="ctrl.stdoutScrollbarConfig()">
			<pre>{{container.runtime.docker.container.log['stdout']}}</pre>
		</div>
		<div ng-show="!container.runtime.docker.container.log['stdout']" class="text-empty">
			<span>
				<i class="fa fa-eye"></i>
				{{'The logs are empty'|translate}}
			</span>
		</div>
	</div>
	<div ng-show="stream == 'stderr'" class="full-height">
		<div ng-show="container.runtime.docker.container.log['stderr']" class="stderr full-height" ng-scrollbars ng-scrollbars-update="ctrl.stderrScrollbarUpdate" ng-scrollbars-config="ctrl.stderrScrollbarConfig()">
			<pre>{{container.runtime.docker.container.log['stderr']}}</pre>
		</div>
		<div ng-show="!container.runtime.docker.container.log['stderr']" class="text-empty">
			<span>
				<i class="fa fa-eye"></i>
				{{'The logs are empty'|translate}}
			</span>
		</div>
	</div>
</div>

<div class="log-buttons">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4">
				<switch ng-model="ctrl.stderr" on="stderr" off="stdout" class="color" title="{{'Switch stream'|translate}}"></switch>
			</div>
			<div class="col-xs-4">
				<div class="scrollbar-lock-status">
					<i ng-if="stdoutScrollbarLocked" class="fa fa-fw fa-lock"></i>
					<i ng-if="!stdoutScrollbarLocked" class="fa fa-fw fa-unlock"></i>
					<i class="fa fa-fw fa-chevron-down"></i>
				</div>
			</div>
			<div class="col-xs-4">
				<a class="btn btn-primary pull-right" ng-click="ctrl.clearLog()" title="{{'Clear log'|translate}}">
					<i class="fa fa-eraser"></i>
				</a>
			</div>
		</div>
	</div>
</div>
