<perfect-scrollbar class="scroller full-height">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<h5 class="pull-left">{{'Image'|translate}} <small>{{container.image}}</small></h5>
					<div class="pull-right">
						<a class="btn btn-primary" ng-click="ctrl.pullImage()">
							<i class="fa fa-download"></i>
							{{'Update'|translate}}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="container.runtime.docker.image.history">
			<div class="col-xs-12">
				<h5>{{'History'|translate}}</h5>
				<div ng-repeat="h in container.runtime.docker.image.history" class="row">
					<div class="col-xs-2">{{h.Id|limitTo: 12}}</div>
					<div class="col-xs-2">{{h.Created}}</div>
					<div class="col-xs-5">{{h.CreatedBy}}</div>
					<div class="col-xs-1">{{h.Size}}</div>
					<div class="col-xs-2">{{h.Comment}}</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="container.runtime.docker.image.infos">
			<div class="col-xs-12">
				<h5>{{'Informations'|translate}}</h5>
				<pre pretty-json="container.runtime.docker.image.infos"></pre>
			</div>
		</div>
	</div>
</perfect-scrollbar>
