<div ng-if="container.runtime.infos.container" class="full-height" ng-scrollbars>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h4>{{container.label}} <small>{{container.name}} (#{{container.runtime.infos.container.Id}})</small></h4>
				<pre pretty-json="container.runtime.infos.container"></pre>
			</div>
		</div>
	</div>
</div>

<div ng-if="!container.runtime.infos.container" class="text-empty">
	<span>{{'The container is not running'|translate}}</span>
</div>
