<div class="home full-height">

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="home-title">Dugout</h2>
				<p class="subtitle">Bitwip</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum libero eget interdum suscipit. Nunc posuere, nisi vitae iaculis hendrerit, justo sem maximus nulla, ac semper mi felis id nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
		</div>
	</div>
</div>
