<nav class="navbar navbar-color navbar-static-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle no-drag" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">{{'Toggle navigation'|translate}}</span>
			<span class="fa fa-bars"></span>
		</button>
		<a class="navbar-brand no-drag" ui-sref="about" title="{{'About Dugout'|translate}}">
			<h2>Dugout</h2>
			<img src="images/logo.png" />
		</a>
	</div>
	<ul class="nav navbar-nav pull-right">
		<li>
			<input type="file" id="openConfigurationFile" style="display:none;" />
			<a class="no-drag" href="#" ng-click="ctrl.openPopupMenu($event)" title="{{'Open menu'|translate}}">
				<i class="fa fa-folder-o fa-2x"></i>
			</a>
		</li>
		<li>
			<a ui-sref="configuration" class="no-drag" title="{{'Configuration'|translate}}" ng-class="{'active': activeState == 'configuration'}">
				<i class="stream stream-cog fa-2x"></i>
				<small ng-if="!$root.globalConfMgr.valid" class="label label-warning pull-right">{{'invalid'|translate}}</small>
			</a>
		</li>
	</ul>
	<div class="nav navbar-nav buttons">
		<button class="btn btn-circle btn-sm btn-danger no-drag" ng-click="ctrl.closeApp()" title="{{'Close'|translate}}">
			<i class="fa fa-times"></i>
		</button>
		<button class="btn btn-circle btn-sm btn-warning no-drag" ng-click="ctrl.minimizeApp()" title="{{'Minimize'|translate}}">
			<i class="fa fa-minus"></i>
		</button>
		<button class="btn btn-circle btn-sm btn-success no-drag" ng-click="ctrl.maximizeApp()" title="{{'Maximize'|translate}}">
			<i class="fa fa-unsorted"></i>
		</button>
	</div>

	<div class="nav navbar-nav">
		<div>
			<h6>{{project.path}}</h6>
		</div>
		<div>
			<h4>
				{{project.label}}
				{{project.version}}
			</h4>
		</div>
	</div>

	<div class="navbar-transparent sidebar no-drag" role="navigation">
		<div class="sidebar-nav navbar-collapse collapse">
			<ul class="nav full-height" id="side-menu" ng-scrollbars>
				<li ng-if="project.containers">
					<a ui-sref="project" class="" ng-class="{'active': activeState == 'project'}" title="{{'All containers'|translate}}">
						<i class="fa fa-sitemap fa-fw"></i> {{'Containers'|translate}}
					</a>
					<span ng-if="$root.globalConfMgr.valid" class="abs-r-15 abs-t-5">
						<button class="btn btn-danger btn-sm" ng-click="ctrl.stopAll()" title="{{'Stop all containers'|translate}}">
							<i class="fa fa-stop"></i>
						</button>
					</span>
					<div class="clearfix"></div>
					<ul class="nav nav-second-level">
						<li ng-repeat="(containerName, container) in project.containers">
							<a ui-sref="container.logs({name: container.name})" ng-class="{'active': activeContainer.name == containerName}">
								<i class="stream stream-module fa-fw"></i>
								{{container.label}}
							</a>
							<span class="abs-r-15 abs-t-5">
								<span  ng-if="$root.globalConfMgr.valid && container.runtime.configurationValid">
									<button ng-if="container.runtime.canStart" class="btn btn-primary btn-sm" ng-click="ctrl.start(container)" title="{{'Start container'|translate}}">
										<i class="fa fa-play"></i>
									</button>
									<button ng-if="container.runtime.canStop" class="btn btn-danger btn-sm pull-right" ng-click="ctrl.stop(container)" title="{{'Stop container'|translate}}">
										<i class="fa fa-stop"></i>
									</button>
									<button ng-if="!container.runtime.canStart && !container.runtime.canStop" class="btn btn-default btn-sm pull-right">
										<i class="fa fa-spinner fa-spin"></i>
									</button>
								</span>
								<i ng-if="!$root.globalConfMgr.valid || !container.runtime.configurationValid" class="fa fa-warning fa-2x text-warning"></i>
							</span>
						</li>
					</ul>
				</li>
				<li class="footer">
					<span ng-bind-html="footerSentence"></span>
					<a external-link href="http://www.mobapi.com/">MOBAPI</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
