<div class="page-content project">

	<nav class="breadcrumb">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h4>
						{{project.title}}
						<small>{{project.id}}</small>
						<span class="label label-primary" ng-if="project.runtime.docker.container">{{'Running'|translate}}</span>
						<span class="label label-warning" ng-if="!project.runtime.docker.container">{{'Stopped'|translate}}</span>
					</h4>
				</div>
			</div>
		</div>
	</nav>

	<div class="content">

		<div class="tab">
			<ul class="nav nav-tabs">
				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs">
					<a href="" ng-click="setSelectedTab(tab)">
						<i ng-class="tab.iconClass"></i>
						{{tab.label}}
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="flex-full-height" ui-view></div>
			</div>
		</div>

	</div>

</div>
