<perfect-scrollbar class="scroller full-height">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<h5 class="pull-left">{{'Image'|translate}} <small>{{project.image}}</small></h5>
					<div class="pull-right">
						<a class="btn btn-primary" ng-click="ctrl.pullImage()">
							<i class="fa fa-download"></i>
							{{'Update'|translate}}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="project.runtime.docker.image.history">
			<div class="col-xs-12">
				<h5>{{'History'|translate}}</h5>
				<div ng-repeat="h in project.runtime.docker.image.history" class="row">
					<div class="col-xs-2">{{h.Id|limitTo: 12}}</div>
					<div class="col-xs-2">{{h.Created}}</div>
					<div class="col-xs-5">{{h.CreatedBy}}</div>
					<div class="col-xs-1">{{h.Size}}</div>
					<div class="col-xs-2">{{h.Comment}}</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="project.runtime.docker.image.infos">
			<div class="col-xs-12">
				<h5>{{'Informations'|translate}}</h5>
				<pre pretty-json="project.runtime.docker.image.infos"></pre>
			</div>
		</div>
	</div>
</perfect-scrollbar>

<script type="text/ng-template" id="pullDialog.html">
	<div class="container-fluid">
		<div class="row" ng-if="!pullImageLog.length">
			<div class="col-xs-12 fa-spin-fix">
				<div>
					<h3>
						<i class="fa fa-gear fa-spin"></i>
						{{'Processing...'|translate}}
					</h3>
				</div>
			</div>
		</div>
		<div class="row" ng-repeat="l in pullImageLog track by l._id">
			<div class="col-xs-4">{{l.id}}</div>
			<div class="col-xs-8">{{l.status}}</div>
		</div
	</div>
</script>