<div class="panel panel-color">
	<div class="panel-heading">
		<h3>{{'Pulling image'|translate}} {{image}}</h3>
	</div>
	<div class="panel-body">
		<div class="log full-height" ng-scrollbars>
			<div class="container-fluid">
				<div class="row" ng-repeat="(id, layer) in layers">
					<div ng-if="layer.id">
						<div class="col-xs-2"><span>{{layer.id}}</span></div>
						<div class="col-xs-3"><span>{{layer.status}}</span></div>
						<div class="col-xs-7">
							<uib-progressbar ng-if="layer.progressDetail.percent" type="color" value="layer.progressDetail.percent">
								<span>{{layer.progressDetail.percent}} %</span>
							</uib-progressbar>
						</div>
					</div>
					<div ng-if="!layer.id">
						<div class="col-xs-12"><span>{{layer.status}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<span>
						<i class="fa fa-gear fa-spin"></i>
						{{'Please wait...'|translate}}
					</span>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-primary pull-right" ng-click="ctrl.cancel()">{{'Close'|translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
