input.form-control,
input.form-control:focus,
input.form-control:active {
	outline: none;
	box-shadow: none;
}

input[type=text].form-control,
input[type=number].form-control,
input[type=email].form-control,
input[type=password].form-control {
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
	color: #333;
}

input[type=text].form-control:focus,
input[type=number].form-control:focus,
input[type=email].form-control:focus,
input[type=password].form-control:focus {
	border-bottom: 1px solid #bbb;
}

span.form-control {
	border: none;
	box-shadow: none;
}

.controls > button {
	float: left;
	margin-right: 30px;
}
