.modal .panel {
	margin-bottom: 0;
}

.modal .panel .panel-body {
	height: 500px;
}

.modal .panel .panel-body .scroller {
	white-space: initial;
}

.modal .panel .panel-body .progress {
	margin-bottom: 0;
}
