.panel-color {
	color: #32afb2;
	border: 1px solid #32afb2;
}

.panel-color .panel-footer {
	font-size: 0.9em;
	background-color: #32afb2;
	color: #fff;
}

.panel-color .panel-footer .btn-primary {
	background-color: #fff;
	color: #32afb2;
}

.panel-color .panel-footer .btn-link {
	color: #fff;
}

.panel-color .panel-footer a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

.panel-color .panel-footer a:hover {
	color: #ffd478;
}
