.containers {
	padding-top: 30px;
}

.clear-log {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
}

.container .log pre {
	display: inline-block;
	font-size: 0.9em;
	word-wrap: normal;
	overflow-x: hidden;
}

.container .conf-values .conf-value {
	float: right;
	width: 80%;
}
