body {
	font-family: 'Open Sans Condensed';
	font-size: 16px;
	background-color: #fff;
	/*background-color: #514A57;*/
	color: #333;
}

.abs-r-15 {
	position: absolute;
	right: 15px;
}

.abs-t-5 {
	position: absolute;
	top: 5px;
}

.scroller {
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	white-space: pre-line;
}

.breadcrumb {
	border-radius: 0;
	padding: 15px 0;
}

.full-height {
	height: 100%;
}

.text-grayed {
	color: #888;
	background-color: transparent;
}

.text-danger {
	color: #d9534f;
	background-color: transparent;
}

.text-empty {
	text-align: center;
	padding-top: 15%;
	color: #bbb;
}

.page-wrapper {
	width: 100%;
	padding: 0;
	border: none;
	background-color: transparent;
}

@media(min-width: 768px) {
.page-wrapper {
	margin-left: 250px;
	width: calc(100% - 251px);
	height: calc(100% - 65px); /* navbar */
	border-left: 1px dashed #32afb2;
}
}

.page-content {
	padding: 0;
}

.page-content > .full-height {
	height: calc(100% - 89px)
}

pre {
	font-family: 'Ubuntu Mono';
	color: inherit;
	background-color: transparent;
	border: none;
}

.list-group .list-group-header {
	background-color: #eee;
}

.panel-container .panel-footer a span {
	display: inline-block;
}
