.tab {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.nav-tabs > li {
	border: none;
	border-bottom: 3px solid transparent;
	transition: border 300ms ease;
}

.nav-tabs > li.active {
	border-bottom: 3px solid #32afb2;
}

.nav-tabs > li > a {
	color: #666;
	background-color: transparent;
	border: none;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #32afb2;
	background-color: transparent;
	border: none;
}

.tab-pane {
	color: #333;
}


.tab > .tab-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}
